* {
  margin: 0;
  padding: 0;
}

.location {
  font-size: 2rem;
  color: white;
  padding-right: 19px;
}

nav {
  overflow: hidden;
  background-color: #3f9d9c;
}

@media screen and (max-width: 768px) {
  nav {
    background-color: red; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .top {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .search_textbox {
    padding: 5px 5px;
    width: 71vw;
    border-radius: 4px;
    width: 100%;
  }
}

.top {
  justify-content: center;
  display: flex;
  align-items: center;
}

.search_textbox {
  padding: 5px 5px;
  width: 71vw;
  border-radius: 4px;
  width: 100%;
}

.current_location {
  border: 2px solid white;
  border-radius: 23px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.current_location p {
  height: 9px;
}

.top img {
  height: 7vh;
}

.bell {
  color: white;
  font-size: 25px;
  padding-left: 12px;
}

.cart {
  font-size: 23px;
  padding-left: 12px;
  color: white;
}

.count {
  font-size: 17px;
  text-align: center;
  width: 9px;
  background-color: red;
  overflow: visible;
  margin-left: -10px;
  border-radius: 50%;
}

.bottom {
  align-items: unset;
  text-align: center;
}

.microphone {
  font-weight: 800;
  font-size: 12px;
  color: white;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.microphone {
  font-weight: 700 !important;
  font-size: 1.3rem;
}

.serach_textbox {
  padding: 3px 56px;
  width: 65vw;
  border-radius: 5px;
  margin: 2vh;
  background: url(./images/search.jpg) white no-repeat left;
}

.carousel {
  margin: 2rem 1rem;
  background-color: aliceblue;
}

.iconHW {
  width: 7rem;
  height: 9rem;
}

.popular_service_products {
  background-color: #b7ebeb;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 7px;
}

.service_products_heading {
  text-align: center;
  color: #116a6a;
}

.Consultancy {
  text-align: center;
  text-decoration: underline;
  color: darkgray;
}

.underline {
  text-align: center;
  width: 23rem;
}

card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-left: 22px !important;
}

.row {
  gap: 8px !important;
}

.card_rows {
  margin-left: 6rem !important;
}

.card-text {
  margin-top: 7rem;
}

.All_Popular_Service_Provider_heading {
  background-color: #b7ebeb;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 7px;
}

.service_provider {
  text-align: center;
  color: #116a6a;
}

.s {
  background-color: rgb(42 42 88);
  height: 23vh;
}

.service_provider_card {
  margin-top: 2rem !important;
  margin-left: 7rem;
  height: -webkit-fill-available;
  background-color: aliceblue;
  text-align: center;
}

.S_h2 {
  color: white;
  font-size: 8rem;
}

.iconHW {
  cursor: pointer;
}

.lightpink{
  background-color: #f875f8;
  height: 23vh;
}

.lightblue{
  background-color: #66c1df;
  height: 23vh;
}
.green{background-color: #266626;
  height: 23vh;
}
.lightgreen{
  background-color: #5db35d;
  height: 23vh;
}

.offer{
  overflow: visible;
  margin: auto;
  position: absolute;
  margin-top: 0px;
  margin-left: 13.3rem;
  margin-right: 3px;
  background-color: green;
  color: white;
}

.card-img-top{
  overflow: visible;
}

.tagline{position: absolute;
  margin-left: 7rem;
  font-weight: 700;
  color: #6fcaff;
  margin-top: -2rem;
}

.sticky{
  position: fixed !important;
  top: 0;
  width: 100%;
}

